      <div class="navbar-content">
        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">
          <!-- start: MAIN MENU TOGGLER BUTTON -->
          <div class="navigation-toggler">
            <i class="clip-chevron-left"></i>
            <i class="clip-chevron-right"></i>
          </div>
          <!-- end: MAIN MENU TOGGLER BUTTON -->
          <!-- start: MAIN NAVIGATION MENU -->
          <ul class="main-navigation-menu">
            <li class="<%= controller.controller_name == "main" ? "active open" : "" %>">                              
                <%= link_to '<i class="clip-home-3"></i> Dashboard'.html_safe, main_path, :class => (controller.controller_name == "main" ? "selected" : "") %>                 
            </li>



            <li class="<%= controller.controller_name == "devices" ? "active open" : "" %>" >
            
              <a href="javascript:void(0)"><i class="clip-screen"></i>
                <span class="title"> Devices </span><i class="icon-arrow"></i>
                <span class="selected"></span>                
              </a>
              <ul class="sub-menu">
                <li class="<%= (controller.controller_name == "devices" && controller.action_name == "index") ? "active open" : "" %>">                  
                  <a href= '<%= devices_path %>'><i class="clip-list"></i>
                    <span class="title"> Devices List </span>
                  </a>              
                </li>

    <!-- Hide create devices link for normal user -->
                <% if current_user.is_admin == 1 %>
                <li>
                  <a href="<%= new_device_path %>"><i class="clip-spinner-2"></i>
                    <span class="title"> Create Devices </span>
                  </a>
                </li>     
                <% end %>

              </ul>
            </li>


          </ul>
          <!-- end: MAIN NAVIGATION MENU -->
        </div>
        </div>

        <!-- end: SIDEBAR -->