<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    (controller.controller_name + 'Controller'), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag (controller.controller_name + 'Controller'), 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/head' %>
</head>
<body>

  <%= render 'layouts/header' %>

<!-- start: MAIN CONTAINER -->
<div class="main-container">
	<%= render 'layouts/navbar' %>
	<%= yield %>
</div>
		<!-- end: MAIN CONTAINER -->


  <%= render 'layouts/footer' %>


</body>
</html>
